@font-face {
    font-family: "iranyekan" ;
    src: url("fonts/iranyekan/eot/iranyekanwebregular.eot?#") ,
    url("fonts/iranyekan/ttf/iranyekanwebregular.ttf") format('truetype'),
    url("fonts/iranyekan/woff/iranyekanwebregular.woff") format('woff'),
    url("fonts/iranyekan/svg/iranyekanwebregular.svg") format('svg');
}
@font-face {
    font-family: "iranyekan_numbers" ;
    src: url("fonts/iranyekan_numbers/eot/iranyekanwebregular(fanum).eot?#") ,
    url("fonts/iranyekan_numbers/ttf/iranyekanwebregular(fanum).ttf") format('truetype'),
    url("fonts/iranyekan_numbers/woff/iranyekanwebregular(fanum).woff") format('woff'),
    url("fonts/iranyekan_numbers/svg/iranyekanwebregular(fanum).svg") format('svg');
}
* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
body {
    color: ;
    background: radial-gradient(rgb(10, 1, 87) ,rgb(19, 18, 18) ,black);
    font-family: 'iranyekan_numbers','iranyekan';
    direction: ltr;
}
.container {
    width: 95%;
    margin: 0 auto;
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header .header__grid--left {
    display: grid;
    grid-template-columns: auto auto auto;
    width: 20%;
}
header .header__grid--left a {
    color: white;
}
header .left__beta {
    border-radius: 0.1rem;
    border: rgba(0,229,254,.824) solid 1px;
    color: rgba(0,229,254,.824);
    font-size: 0.74rem;
    text-align: center;
    padding: 0.1rem;
    width: 30px;
} 
header .header__grid--right {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    width: 30%;
    direction: rtl;
}
header .grid--right {
    color: rgb(147, 152, 157);
}
header .grid--right a {
    color: rgb(147, 152, 157);
    padding: 0.5rem;
}
header .grid--right a:hover {
    border-radius: 0.2rem;
    background-color: rgb(26, 26, 26);
    border: 1px solid rgb(51, 51, 51);
}
.container__1 {
    width: 60%;
    margin: 0 auto;
    margin-top: 7rem;
    font-size: 4.5rem;
    color: rgb(205, 205, 207);
    text-align: center;
    font-weight: bolder;
    line-height: 4.5rem;
}
.container__1__p {
    width: 100%;
}
.container__2 {
    width: 45%;
    margin: 2rem auto;
    font-size: 1.25rem;
    color: rgb(111, 118, 126);
    text-align: center;
    font-weight: bold;
    line-height: 3rem;
}
.container__3 {
    align-items: center;
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}
.container__3--left {
    width: 190px;
    height: 30px;
    border-radius: 0.3rem;
    background-color: white;
    border: solid 1px rgb(229, 231, 235) ;
}
.container__3--left a {
    flex-direction: row;
    display: flex;    
    justify-content: space-evenly;
    color: rgb(63, 63, 63);
}
.container__3--right {
    width: 190px;
    height: 22px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 0.8rem;
    color: white;
    opacity: 0.4;
    padding: 0.3rem;
    border-radius: 0.3rem;
    background-color: rgb(25, 30, 38);
    border: rgb(51, 58, 66) 1px solid;
}
.container__3--right a {
    color: white;
}
section .icon {
    margin-top: 0.3rem;
}
.container__4 {
    width: 30%;
    margin: 0 auto;
    margin-top: 3rem;
    color: #ffffff6e;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
}
.container__4 a {
    color: white;
}
.container__4--flex a {
    display: flex;
    flex-direction: row;
    transform: rotateX(0);
}
.container__4--flex:hover a {
    transform: translateY(0);
}
.container__4--flex:hover a {
    transform: translateY(-20px);
    animation-timing-function: ease-in-out;
    animation-duration: 4s;
}
@media (max-width: 1100px) {
   
    .container__1 {
        width: 90%;
        margin-top: 4rem;
    }
    .container__2 {
        width: 75%;
        line-height: 2rem;
    }
    .container__3 {
        width: 60%;
    } 
} 
@media (max-width: 770px) {
    header .header__grid--left {
        width: 30%;
    }
    header .header__grid--right {
        width: 40%;
    }
    header .header__grid--right .border {
        display: none;
    }
    .container__1 {
        font-size: 2.25rem;
        margin-top: 7rem;
        line-height: 2.5rem;
        width: 95%;
    }
    .container__2 {
        width: 90%;
    }
    .container__3 {
        justify-content: center;
    }
    .container__3--left {
        padding: 0.3rem;
        width: 55%;
        align-items: center;
    }
    .container__3--right {
        display: none;
    }
} 