* {
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
}
body {
    direction: ltr;
    background-color: black;
}
.container {
    width: 90%;
    margin: 2rem auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header .header__grid--left {
    display: grid;
    text-align: start;
    width: 40%;
    grid-template-columns: 10% 30% 10%;
}
.grid--left a {
    font-size: 1rem;
    color: white;
    font-weight: bold;
}
.left__beta {
    border-radius: 0.1rem;
    border: rgba(0,229,254,.824) solid 1px;
    color: rgba(0,229,254,.824);
    font-size: 0.74rem;
    text-align: center;
    padding: 0.1rem;
}
header .header__grid--right {
    display: grid;
    grid-template-columns: 10% 10% 5% 17% 17%;
    direction: rtl;
    text-align: center;
    width: 60%;
}
header .grid--right {
    color: rgb(147, 152, 157);
}
header .grid--right a {
    color: rgb(147, 152, 157);
    padding: 0.5rem;
}
header .grid--right a:hover {
    border-radius: 0.2rem;
    background-color: rgb(26, 26, 26);
    border: 1px solid rgb(51, 51, 51);
}
.container__1 {
    width: 70%;
    margin: 0 auto;
    margin-top: 7rem;
    font-size: 4.5rem;
    color: rgb(205, 205, 207);
    text-align: center;
}
.container__1__p {
    width: 100%;
}
.container__2__p {
    width: 100%;
}
.container__2 {
    width: 50%;
    color: rgb(205, 205, 207);
    text-align: center;
    margin: 0 auto;
    font-size: 1.5rem;
    margin-top: 3rem;
}
.container__3 {
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
    margin: 2rem auto;
}
.container__3--left {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 45%;
    background-color: rgb(236, 236, 236);
    text-align: center;
    border-radius: 0.3rem;
    align-items: center;
    padding: 0.25rem;
    border: rgb(229, 231, 235) 1px solid;
}
.container__3--left a {
    color: rgb(103, 103, 103);    
}
.container__3--right {
    width: 45%;
    background-color: rgb(25, 30, 38);
    padding: 0.25rem;
    display: flex;
    justify-content: space-around;
    font-size: 0.8rem;
    flex-direction: row;
    border: rgb(51, 58, 66) 1px solid;
    text-align: center;
    border-radius: 0.3rem;
}
.container__3--right__icon a {
    color: rgb(219, 220, 222);
}
@media (max-width:1200px) {
    .container__1 {
        margin-top: 3rem;
    }
}
@media (max-width:1000px) {
    header .header__grid--right {
        grid-template-columns: 15% 15% 7% 25% 25%;
    }
    header .header__grid--left {
        grid-template-columns: 24% 50% 24%;
    }
    .container__1 {
        width: 85%;
        font-size: 3rem;
    }
    .container__2 {
        font-size: 1rem;
        width: 90%;
    }
}